

button, input {
    padding: 5px;
    background-color: rgb(135, 135, 135);
    border-radius: 10px;
}

button:hover, input:hover {
        background-color: rgb(112, 221, 112);
    }

.sidbareElement, .sidebar {
    background-color: rgb(244, 100, 100);
    display: flex;
    width: 100%;
    justify-content:center;
    
}
input::placeholder {
    color: black;
    border: 2pix solid black

}
.e {
    background-color: rgb(0, 0, 0);
}

 main {
        width: 100%;
        height: 80dvh;
        
    }
    #map {
        width: 80%;
        height: 100%;
        background-color: rgba(86, 73, 54, 0.823);
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        justify-self: center;
        flex-direction: column;
        border-radius: 15px;

    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .cellule {
        width: 25px;
        pad: 13px;
        margin: 4px;
        height: 25px;
    }
    .path {
        background-color: rgb(136, 211, 129);
    }
    .obstacle {
        background-color: rgb(0, 0, 0);
    }
    .food {
        background-color:rgb(255, 0, 0);
    }
    .hill {
        background-color: rgb(0, 41, 145);
    }

    .on {
        background-color: rgb(22, 245, 22);
    }
    

    .off {
        background-color: red;
    }