

button, input {
    padding: 5px;
    background-color: rgb(181, 251, 140);
    border-radius: 10px;
}

button:hover, input:hover {
        background-color: rgb(112, 221, 112);
    }


.sidbareElement, .sidebar {
    background-color: rgb(30, 252, 252);
    display: flex;
    width: 100%;
    justify-content:center;
    
}

.e {
    background-color: black;
}

 main {
        width: 100%;
        height: 80dvh;
        
    }
    #map {
        width: 80%;
        height: 100%;
        background-color: rgb(188, 186, 190);
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        justify-self: center;
        flex-direction: column;
        border-radius: 15px;

    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .cellule {
        width: 25px;
        pad: 13px;
        margin: 4px;
        height: 25px;
    }
    .path {
        background-color: rgb(126, 249, 115);
    }
    .obstacle {
        background-color: rgb(73, 73, 73);
    }
    .food {
        background-color:rgb(255, 0, 0);
    }
    .hill {
        background-color: rgb(207, 86, 0);
    }

    .on {
        background-color: rgb(22, 245, 22);
    }
    

    .off {
        background-color: red;
    }